.viewzone {
	color: white;
	text-align: center;
	margin-bottom: 10px;
}



.row .col-xs-4.first-ltr {
	background-color: red;
	float: left;
}

.row .col-xs-4.second-ltr {
	background-color: green;
	float: left;
}

.row .col-xs-4.third-ltr {
	background-color: blue;
	float: left;
}



.row .col-xs-4.first-rtl {
	background-color: red;
	float: right;
}

.row .col-xs-4.second-rtl {
	background-color: green;
	float: right;
}

.row .col-xs-4.third-rtl {
	background-color: blue;
	float: right;
}
