<!doctype html>
<html ng-app="testApp">
	<p>Button one settings</p>
	Color:	
	<form name="myForm" ng-controller="MyController">
	  <label>
	    <input type="radio" ng-model="$parent.settings.color" value="default">
	    Default
	  </label><br/>
	  <label>
	    <input type="radio" ng-model="$parent.settings.color" value="green">
	    Green
	  </label><br/>
	  <label>
	    <input type="radio" ng-model="$parent.settings.color" value="blue">
	    Blue
	  </label><br/>
	  <tt>Color = {{$parent.settings.color}}</tt><br/>
	</form>
</html>


