<!doctype html>
<html ng-app="testApp">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h2>Tool box options features testing</h2>

    <div class="main-area" ng-controller="MyController">    
      <p>{{mode}}</p>
      <button ng-click="switchMode()">Switch mode</button>

      <div class="button-widget">
        <button class="button-one {{settings.color}}" ng-click="buttonOneClicked()">BUTTON ONE {{settings.color}}</button>
      </div>

      <div class="info-widget {{settings.fontStyle}}" ng-click="infoWidgetClicked()">
        <p>Information goes here...</p>
      </div> 
    </div>

    <div class="settings-area">
      <p>Settings goes here...</p>

      <!-- <script type="text/ng-template" id="buttonOneSettingsTemplate.html">
        Button one settings goes here... but this is just hardcoded
      </script> -->
      
      <p ng-include="settingsTemplate" scope="" onload=""></p>
    </div>

  </body>
</html>