* {
    box-sizing: border-box;
}

.main-area {
	width: 75%;
	float: left;
}

.settings-area {
	width: 25%;
	float: left;
	border: 2px solid green;
	padding: 10px;
}

.button-one {
	margin-top: 30px;
	width: 100px;
	height: 50px;
}

.button-one.green {
	background-color:green;
}

.button-one.blue {
	background-color:blue;
}

.info-widget {
	margin-top: 30px;
	border: 2px solid blue; 
	padding: 10px;
	width: 50%;
}

.info-widget.important {
	font-weight: bold;
}

.info-widget.deleted {
	text-decoration: line-through;
}