* {
    box-sizing: border-box;
}

.main-area {
	width: 75%;
	float: left;
}

.settings-area {
	width: 25%;
	float: left;
	border: 2px solid green;
	padding: 10px;
}

.button-widget {
	margin-top: 30px;
	width: 100px;
	height: 50px;
}

.info-widget {
	margin-top: 30px;
	border: 2px solid blue; 
	padding: 10px;
	width: 50%;
}

.button-one {
	width: 100px;
	height: 50px;
}